@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

h1, h2, h3, h4, h5, p, blockquote, pre, div, a, .sansHeader {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-variant: normal;
}

body{
  background-color: #3053b4;
}
.login-logo-container img {
  width: 300px;
  background-color: white;
  max-width: 100%;
}
.login-logo-container {
  background-image: none !important;
  background-color: white !important;
}
.site.signin-main{
  background-color: white;
}
.site.signin-main .signin {
  background-color: white;
  transition: background-color 50ms linear;
}
.site.signin-main .signin:hover {
  background-color: white;
  border: 1px solid #fff;
}
.site.signin-main .form-header{
  background-color:  #fff;
}
.site.signin-main .form-footer {
  background-color: #000000;
  text-transform: uppercase;
  font-size: 8px;
}
.site.signin-main .form-footer .fa.fa-rocket {
  color: #fff;
  font-size: 12pt;
  margin-right: 6px;
  margin-top: 4px;
}
.site.signin-main .form-footer .fa.fa-unlock-alt{
  color: #fff;
  font-size: 12pt;
  margin-right: 0px;
  background-color: #000000;
}

.site.signin-main .form-main {
  background-color: #fff !important;
}