body {
  background-image: none !important;
  background-color: #e3e0dd !important;
}

/* Main Navbar */
#main-navbar {
  background: #fff;
}
#main-navbar img{
  height: 45px;
  padding-bottom: 5px;
  padding-top: 1px !important;
  width: auto !important;
}
#main-navbar a:hover {
  background: #e3e0dd;
}
#main-navbar .nav > li.active > a, #main-navbar .messages > li.active > a, #main-navbar .nav > li.open > a, #main-navbar .messages > li.open > a, #main-navbar .nav > li.open > a:hover, #main-navbar .messages > li.open > a:hover {
  background-color: #e3e0dd;
}
#main-navbar .nav > li > a {
  color: black;
  margin: 0px 2px 0px 2px;
}
#main-navbar a {
  color: black;
}
.navbar-nav {
  margin: 5px;
}
nav .dropdown-menu {
  background-color: #fff;
  border-top: none;
  border: solid 1px #e3e0dd;
  color: #e3e0dd;
}

/* Secondary Logo Container */
.secondary-logo-container {
  background-image: linear-gradient(to bottom, #fff, #fff);
  margin: 0 auto !important;
}
.secondary-logo-container img{
  display: block;
  margin: auto;
}
/* avatar */
.author.avatar.pull-left.img-circle {
  /* margin-top: -20px; */
}

/* Application Steps */
.badge{
  background-color: rgba(164, 11, 13, 0.75);
}
.application-container {
  box-shadow: none;
}

/* secondary-logo widget  */
.widget.secondary-logo-widget {
  background-color: #fff;
  border: 1px solid lightgray;
}
.widget.secondary-logo-widget .box {
  border: none;
}

/* chat */
.blue-header-box {
  border: 3px solid black !important;
}
.blue-header-box h5{
  background-color: black;
}
.blue-header-box .btn-warning {
  color: #fff;
  background-color: #a40b0d;
  border-color: rgba(164, 11, 13, 0.75);
}
.social-container a {
  color: black;
  font-size: 17px;
}
.social-container a:hover {
  color: #a40b0d;
  text-decoration: none;
}
.myProgress .box .application-steps{
  background-color: #fff;
  border: none;
}

/* Connect, my progress  */
.myProgress .box{
  background-color: #fff;
  border: 1px solid lightgray;
}
.connect .box .application-steps {
  background-color: #fff;
  border: none;
}

/* My Docs */
.skipped.application-steps.application-steps-first {
  border: none !important;
  background-color: #e3e0dd;
}

/* Forms */
.form_header {
  background-color: #e3e0dd !important;
  background-image: none !important;
}
.form-header-text {
  color: black;
}
.panel-heading {
  padding: 33px 16px;
}
