@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

h1, h2, h3, h4, h5, p, blockquote, pre, div, a, .sansHeader {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-variant: normal;
}

body {
  background-image: none !important;
  background-color: #f6f6f6 !important;
}

/*
  site-colors {
  color: #05AF6B;
  color: #2986C3;
  color: #BD202E;
*/

/* Main Navbar */
#main-navbar {
  background: #000000;
  text-shadow: none !important;
}
#main-navbar img{
  height: 45px;
  width: auto !important;
  margin: 5px 0px 10px 0px;
}
#main-navbar .nav > li > a, #main-navbar .messages > li > a {
  text-shadow: none;
  text-transform: uppercase;
}
#main-navbar a:hover {
  background: #000000;
  color: #2986C3 !important;
}
#main-navbar .nav > li.active > a, #main-navbar .messages > li.active > a, #main-navbar .nav > li.open > a, #main-navbar .messages > li.open > a, #main-navbar .nav > li.open > a:hover, #main-navbar .messages > li.open > a:hover {
  background: #000000;
  color: #2986C3;
  -webkit-box-shadow: none;
}
#main-navbar .nav > li > a {
  color: #fff;
  font-size: 14px;
  padding: 15px 15px 0 15px;
}
#main-navbar a {
  color: #fff;
  text-transform: uppercase;
}
.navbar-nav {
  margin: 5px;
}
nav .dropdown-menu {
  background-color: #000000;
  border-top: none;
  border: solid 1px #363636;
}
nav .dropdown-menu > li > a{
  color: #fff;
}
.navbar-nav>li>.dropdown-menu {
  margin-top: 10px;
}
#main-navbar .nav > li > a.usermenu > img{
  margin-top: 0px;
}

/* Secondary Logo Container */
.secondary-logo-container {
  background-image: linear-gradient(to bottom, #fff, #fff);
  margin: 0 auto !important;
}
.secondary-logo-container img{
  display: block;
  margin: auto;
  max-width: 100%;
}

/* avatar */
.author.avatar.pull-left.img-circle {
  /* margin-top: -20px; */
}

/* Dashboard view container */
.row.dashboard-view-container{
  margin-top: 35px;
}

/* Application Steps */
.badge{
  background-color: rgba(5, 175, 107, 1);
}
.application-container {
  box-shadow: none;
}

/* secondary-logo widget  */
.widget.secondary-logo-widget {
  background-color: #fff;
  border: 1px solid lightgray;
}
.widget.secondary-logo-widget .box {
  border: none;
}

/* chat */
.blue-header-box {
  border: 3px solid #000000 !important;
}
.blue-header-box h5{
  background-color: #000000;
}
.blue-header-box .btn-warning {
  color: #fff;
  background-color: #BD202E;
  border-color: rgba(189, 32, 46, 0.75);
}
.social-container a {
  color: black;
  font-size: 17px;
}
.social-container a:hover {
  color: #2986C3;
  text-decoration: none;
}
.myProgress .box .application-steps{
  background-color: #fff;
  border: none;
}

/* Connect, my progress  */
.myProgress .box{
  background-color: #fff;
  border: 1px solid lightgray;
}
.connect .box .application-steps {
  background-color: #fff;
  border: none;
}

/* My Docs */
.skipped.application-steps.application-steps-first {
  border: none !important;
  background-color: #f6f6f6;
}

/* Forms */
.form_header {
  background-color: #000000 !important;
  background-image: none !important;
  border-bottom: none !important;
}
.form-header-text {
  color: #fff;
}
.panel-heading {
  padding: 33px 16px;
}

/* Users & Settings Views */
.row.ng-view-container{
  margin-top: 35px;
}
