<div class="box application-container student-info" style="padding-top:0px;margin-top:0px;">
    <div class="row hidden-xs">
        <div class="col-xs-1">
            <div style="padding-top:10px;">
                <img class="author pull-left img-circle" alt="{{user_profile_view.email}}" src="{{user_profile_view.gravatar_url}}">
            </div>
        </div>
        <div class="col-xs-5">
            <div style="padding:10px;margin-left: 30px" class="student-dashboard-user-information">
                <h4>{{user_profile_view.first_name}} {{user_profile_view.last_name}}</h4>
                <div class="gray"><strong>{{user_profile_view.phone}}</strong></div>
                <div>{{user_profile_view.email}}</div>
            </div>
        </div>
        <div class="col-xs-6">
            <div style="margin-top:20px">
                <div class="campus" ng-show="user_profile_view.campus_of_interest != undefined && user_profile_view.campus_of_interest != null && user_profile_view.campus_of_interest != ''"><span class="gray small">CAMPUS:</span><strong>{{ campus(user_profile_view.campus_of_interest) }}</strong></div>
                <div class="program" ng-show="user_profile_view.program_of_interest_friendly_name != undefined && user_profile_view.program_of_interest_friendly_name != null && user_profile_view.program_of_interest_friendly_name != ''"><span class="gray small">PROGRAM:</span><strong>{{user_profile_view.program_of_interest_friendly_name}}</strong></div>
                <div class="softer-gray"></div>
            </div>
        </div>
    </div>
    <div class="row visible-xs">
        <div class="col-xs-12">
            <div style="margin-top:10px;">
                <img class="author pull-left img-circle" alt="{{user_profile_view.email}}" src="{{user_profile_view.gravatar_url}}">
            </div>
            <div style="" class="student-dashboard-user-information">
                <h4>{{user_profile_view.first_name}} {{user_profile_view.last_name}}</h4>
                <div class="gray"><strong>{{user_profile_view.phone}}</strong></div>
                <div>{{user_profile_view.email}}</div>
            </div>
        </div>
    </div>
    <div class="row visible-xs">
        <div class="col-xs-12">
            <div style="margin-top:10px">
                <div class="campus" ng-show="user_profile_view.campus_of_interest != undefined && user_profile_view.campus_of_interest != null && user_profile_view.campus_of_interest != ''"><span class="gray small">CAMPUS:</span><strong>{{ campus(user_profile_view.campus_of_interest) }}</strong></div>
                <div class="program" ng-show="user_profile_view.program_of_interest_friendly_name != undefined && user_profile_view.program_of_interest_friendly_name != null && user_profile_view.program_of_interest_friendly_name != ''"><span class="gray small">PROGRAM:</span><strong>{{user_profile_view.program_of_interest_friendly_name}}</strong></div>
                <div class="softer-gray"></div>
            </div>
        </div>
    </div>
</div>
