<div class="box collapsible application-container">
    <div class="parent-step">
        <div data-percent="100" class="pull-left application-complete-pie" piechart>
            <span>:)</span>
        </div>
        <h2>&nbsp;&nbsp;&nbsp;You're Done!</h2>
        <p class="child-step">
            <span class="badge pull-left">Next Step:</span>
            <strong>An admissions representative will be contacting your student to complete the enrollment process.</strong>
        </p>
    </div>
</div>
