<div class="myProgress connect">
    <span class="sansHeader">Connect with <%=ClientConfiguration.school_name %></span>
    <div class="box non-collapsible widget">
        <div>
            <div class="application-steps">
                <div class="row">
                  <div class="col-xs-12 social-container">
                    <a href="https://www.facebook.com/newcharteruniversity" target="_blank"><img src="/assets/willow/images/facebook-color.png"></a>
                    <!--a href= "https://www.youtube.com/user/CDA8137" target="_blank"><img src="/assets/willow/images/youtube-color.png"></a>  -->
                    <!--a href="https://plus.google.com/101284843198594512300" target="_blank"><img src="/assets/willow/images/googleplus-color.png"></a> -->
                    <!-- <a href="" target="_blank"><img src="/assets/willow/images/linkedin-color.png"></a> -->
                    <a href="https://twitter.com/hashtag/newcharteruniversity" target="_blank"><img src="/assets/willow/images/twitter-color.png"></a>
                    <a href="https://www.instagram.com/newcharteruniversity" target="_blank"><img src="/assets/willow/images/instagram-color.png"></a>
                    <!-- <a href="" target="_blank"><img src="/assets/willow/images/jelly-color.png"></a>
                    <a href="" target="_blank"><img src="/assets/willow/images/flickr-color.png"></a>
                    <a href="" target="_blank"><img src="/assets/willow/images/pinterest-color.png"></a>
                    <a href="" target="_blank"><img src="/assets/willow/images/rss-color.png"></a>
                    <a href="" target="_blank"><img src="/assets/willow/images/tumblr-color.png"></a>
                    <a href="" target="_blank"><img src="/assets/willow/images/vimeo-color.png"></a>
                    <a href="" target="_blank"><img src="/assets/willow/images/vine-color.png"></a> -->
                    <br>
                    <button style="border-radius: 10px;font-size:10px;background-image: linear-gradient(#0c0e7c, #b9bdbe);color:white;text-align:center", onclick="window.location.href = 'https://paywithcardx.com/bpl/newcharte1';">Make Payment</button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>