<div class="myProgress connect">
    <span class="sansHeader">Connect with <%=ClientConfiguration.school_name %></span>
    <div class="box non-collapsible widget">
        <div>
            <div class="application-steps">
                <div class="row">
                  <div class="col-xs-12 social-container">
                    <a href="https://www.facebook.com/evcc.edu/" target="_blank"><img src="/assets/willow/images/facebook-color.png"></a>
                    <a href= "https://www.youtube.com/channel/UCiyvUhA4HbdsoRnsxSP_syQ" target="_blank"><img src="/assets/willow/images/youtube-color.png"></a>
                    <a href="https://twitter.com/evccdotedu" target="_blank"><img src="/assets/willow/images/twitter-color.png"></a>
                    <a href="" target="https://www.pinterest.com/EVCCdotEDU/"><img src="/assets/willow/images/pinterest-color.png"></a>
                    <!-- <a href="" target="_blank"><img src="/assets/willow/images/jelly-color.png"></a>
                    <a href="" target="_blank"><img src="/assets/willow/images/flickr-color.png"></a>
                    <a href="_blank" target="_blank"><img src="/assets/willow/images/instagram-color.png"></a>
                    <a href="" target="_blank"><img src="/assets/willow/images/rss-color.png"></a>
                    <a href="_blank" target="_blank"><img src="/assets/willow/images/googleplus-color.png"></a>
                    <a href="" target="_blank"><img src="/assets/willow/images/linkedin-color.png"></a>
                    <a href="" target="_blank"><img src="/assets/willow/images/tumblr-color.png"></a>
                    <a href="" target="_blank"><img src="/assets/willow/images/vimeo-color.png"></a>
                    <a href="" target="_blank"><img src="/assets/willow/images/vine-color.png"></a> -->
                    <br>
                    
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>