<p class="child-step active" style="min-height: 75px;padding-top: 20px">
    <span class="pull-left" style="padding-bottom: 20px;width:100%;min-height: 40px">
        <span class="pull-left" style="padding-bottom: 10px;">Connect with students, alumni, instructors, faculty &amp; fans!</span>
        <iframe class="pull-left" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FLearnatBryan&amp;width&amp;layout=button&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:20px;margin-left:10px;max-width: 100px" allowTransparency="true"></iframe>
        <a style="margin-top:-4px;" ng-click="skip_step(step)" ng-show="!skip_in_progress && step.status!='Skipped'" class="label pull-right">
          Skip
        </a>
    </span>
</p>
