<div class="student-details-right-side" ng-controller="BryanUStudentDetailButtonController">
    <div class="row">
        <button ng-click="set_interview_link()" type="button" class="btn btn-primary">Set Presentation URL</button>
    </div>
    <div class="row" ng-show="rep_presentation_url != '' && rep_presentation_url != undefined" style="margin-top:10px;margin-bottom: 20px;">
        <a href="{{rep_presentation_url}}" target="_blank">Begin Presentation &gt;&gt;</a>
    </div>
    <div class="row">
        <button ng-click="refresh_from_velocify()" type="button" class="btn btn-primary">Refresh From Velocify</button>
    </div>
    <div class="row">
        <button ng-click="set_microsoft_license_key()" type="button" class="btn btn-primary">Set MS License Key</button>
        <br />{{license_key}}
    </div>
</div>
<div class="student-details-right-side">
    <div class="row" ng-controller="StudentManagementRightSideNavigationController">
        <button ng-show="can_reactivate_accounts" ng-click="send_account_activation(student);" type="button" class="btn btn-primary">Send Account Activation Email</button><br />
        <button ng-show="can_reset_password" ng-click="force_password_reset(student)" type="button" class="btn btn-warning">Reset Password</button><br />
        <button ng-show="can_reactivate_accounts" ng-click="switch_to_this_user(student);" type="button" class="btn btn-warning">Switch to this user</button><br />
        <button ng-click="open_chat()" type="button" class="btn btn-warning">Open Chat Window</button><br />
        <button ng-show="can_delete" ng-click="soft_delete(student);" type="button" class="btn btn-warning">Delete User</button><br />
    </div>
</div>
