<div ng-show="loading!=false">
    <img src="/assets/images/spinner.gif" alt="" />
</div>

<form name="custom_data_form" ng-show="loading == false">
    <div ng-repeat="group in fa_data">
      <h3>{{group.name}}</h3>
      <table class="table table-bordered list" style="margin-top: 20px">
          <tr ng-repeat="hive_property in group.records">
              <td>
                  {{hive_property.friendly_name}}
                  <input type="hidden" ng-model="hive_property.name">
              </td>
              <td>
                  <input class="form-control" type="text" ng-model="hive_property.value">
              </td>
          </tr>
      </table>
    </div>
    <a class="btn btn-primary" ng-click="save()">Save</a>
    <button ng-click="generate_award_letter()" type="button" class="btn btn-primary pull-right" style="margin-left:10px;">Generate Award Letter</button>
    <button ng-click="toggle_student_block()" ng-show="student_is_unblocked == 'false'" type="button" class="btn btn-primary pull-right">Unblock Financial Aid</button>
    <button ng-click="toggle_student_block()" ng-show="student_is_unblocked == 'true'" type="button" class="btn btn-primary pull-right">Block Financial Aid</button>
</form>
